.gem-c-print-link__button {
    display: none;
    background: url("https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png") no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    text-decoration: none
}

.js-enabled .gem-c-print-link__button {
    display: inline-block
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx) {
    .gem-c-print-link__button {
        background-image: url("https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png")
    }
}

.gem-c-print-link__button:hover {
    background-color: #f3f2f1
}

.gem-c-print-link__button {
    border: 1px solid #505a5f;
    color: #1d70b8;
    cursor: pointer;
    margin: 0
}

.gem-c-print-link__button:focus {
    outline: 3px solid rgba(0,0,0,0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: #fd0;
    border-color: rgba(0,0,0,0)
}
