$custom-blue-dark: #005ea5;
$custom-blue-light: #2b8cc4;

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

#print-link {
    margin: 3rem 0;
    line-height: 1.5;
}

.custom {
  &-hr {
    border: none;
    &--light {
      border-top: 4px solid $custom-blue-dark;
    }
    &--heavy {
      border-top: 10px solid $custom-blue-dark;
    }
  }
}
